@charset "utf-8";

/*reset*/
* { margin:0; padding:0; }
img { vertical-align:top; }/*이미지 세로 정렬의 여백 => 제거*/
a { text-decoration: none; color:inherit; }
body { font:normal 30px/1.5em "Arial",sans-serif; }

/*wrap*/
#wrap { width:1180px; overflow:hidden; margin:50px auto; }
#left_w { float:left; width:586px; height:565px; }

.left_sub1 { width:586px; height:370px; margin-bottom:10px; }/**/
.left1 { float:left; width:293px; height:370px; background:url("../images/bg_1.gif") no-repeat left top; position:relative;/*기준*/ }
.txt { color:#fff; margin-top:30px; margin-left:30px; }
.txt:hover { text-decoration:underline; }/*오버시 밑줄*/
.txt img { margin-top:10px; margin-left:10px; }
.left1_img { position:absolute; bottom:70px; left:95px; }
.left2 { float:left; }

.left3 { float:left; }
.left4 { float:left; width:293px; height:185px; background:url("../images/bg_2.gif") no-repeat center center; position:relative;/*기준*/ }
.left4 .txt { margin-left:100px; }
.left4_img { position:absolute; bottom:30px; left:70px; }

/*right_w*/
#right_w { float:right; width:584px; height:565px; }
.right_sub1 { width:584px; height:187px; }
.right1 { float:left; width:292px; height:187px; background:url("../images/bg_3.gif") no-repeat left top; position:relative;/*기준*/ }
.right1_img { position:absolute; bottom:30px; right:50px; }
.right2 { float:left; width:292px; height:187px; }

.right_sub2 { margin-top:10px; width:584px; height:368px; }
.right3 { float:left; width:292px; height:368px; background:url("../images/bg_4.gif") no-repeat left top; position:relative;/*기준*/ }
.right3_img { position:absolute; bottom:50px; right:50px; }

.right4 { float:right; width:282px; height:368px; background:url("../images/bg_3.gif") no-repeat left top; position:relative;/*기준*/ }
.right4_img { position:absolute; bottom:50px; right:50px; }